
<h1>Počet případů v ČR ke dni {{datum}}</h1>
<div class="tab-div">
    <table>
        <tr>
            <td><i class="fas fa-calendar-day"></i></td>
            <td>Počet případů za den: </td>
            <td class="count">{{pocet}}</td>
        </tr>
        <tr>
            <td><i class="fas fa-globe"></i></td>
            <td>Celkový počet nakažených:</td>
            <td>{{celkem}}</td>
        </tr>
    </table>
</div>