<div class="navbar-menu">
    <ul>
        <li><a href="/"><i class="fas fa-compress"></i> Hlavní</a></li>
        <li><a href="/deaths"><i class="fas fa-stream"></i> Přehled</a></li>
        <li><a href="/about"><i class="fas fa-question"></i> about</a></li>
    </ul>
</div>