body{
    font-family: calibri;
    font-size: 15px;
    text-align: center;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    transition-delay: 100ms;
}

a:hover{
    color: gray;
}

.head{
    background: linear-gradient(to bottom right, #ffffff 0%, #ff9900 100%);
    width: 100%;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 10px 50px 10px;
    border: 3px solid black;
    border-radius: 10px;
}

h1{
    font-size: 20px;
    margin-top: 30px;
}

div.main{
    width: 80%;
    padding: 5px 10px 5px 10px;
    margin: auto;
    margin-top: 20px;
}



.main table{
    transform: translateY(50%);
    margin-left: auto;
    margin-right: auto;
}

.main td{
    padding: 5px 10px 5px 10px;
    font-size: 18px;
}

