body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    text-align: center;
    background-color: #404040;
    color: white;
}

h1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 18px;
}

p{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    font-size: 25px;
    padding: 25px 20px;
    color: white;
}

a:hover{
    color: lightseagreen;
}



.navbar-menu{
    border-radius: 5px;
    background: #3299a8;
}

.navbar-menu ul{
    margin:0;
    padding:0;
    list-style: none;
    text-align: center;
}

.navbar-menu li{
    display: inline-block;
}

.navbar-menu a{
    text-decoration: none;
    width: 100px;
    color: white;
    display: block; 
    padding: 25px 20px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.navbar-menu a:hover{
    color:#b06a6a;
}
.tab-div table{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background: silver;
    border-radius: 8px;
}

table, td{
    border-collapse: collapse;
    border-radius: 2px;
    text-align: left;
    font-size: 18px;
    color: black;
}

td{
    padding: 15px;
}

.inf{
    color: #c99300;
}

.cured{
    color: #00c965;
}

.dead{
    color: red;
}

.tested{
    color: blue;
}

@media only screen and (max-width: 600px) {
    p {
      width: 100%;
    }
  }