body{
    text-align: center;
    font-family: calibri;
    margin: 0 auto;
    padding: 0 16px;
}


h1 {
    color: lightgreen;
    text-transform: uppercase;
    
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #07a656;
    margin: 0px 0px 20px 20px;
}

p{
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 5px;
}

li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    
}

img {
    width: 100px;
}

div{
    padding: 20px 20px 20px 20px;
    border: 3px solid black;    
    width: 40%;
    margin: auto;
    background: white;
}